# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
.env

# Database
sst.sqlite
sst.sqlite-shm
sst.sqlite-wal

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Deprecated
.deprecated/
